
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Función auxiliar para verificar si el usuario está autenticado
    function isSignedIn() {
      return request.auth != null;
    }
    
    // Función auxiliar para verificar si el usuario es el dueño de los datos
    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    // Función para verificar si el usuario es administrador
    function isAdmin() {
      return isSignedIn() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true;
    }

    // Regla para el usuario y todas sus subcolecciones
    match /users/{userId}/{allPaths=**} {
      allow read: if isOwner(userId) || isAdmin();
      allow write: if isOwner(userId);
    }

    // Permitir a administradores listar la colección de usuarios
    match /users/{userId} {
      allow list: if isAdmin();
      allow read: if isOwner(userId) || isAdmin();
      allow write: if isOwner(userId);
    }

    // Regla para la colección global de películas (si existiera)
    match /movies/{movieId} {
      allow read: if true;
      allow write: if false;
    }
  }
}
