
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Función auxiliar para verificar si el usuario está autenticado
    function isSignedIn() {
      return request.auth != null;
    }
    
    // Función auxiliar para verificar si el usuario es el dueño de los datos
    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    // Función para verificar si el usuario es administrador
    function isAdmin() {
      return isSignedIn() && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true;
    }

    // Reglas para la colección de usuarios
    match /users/{userId} {
      // Un usuario solo puede escribir sus propios datos
      allow write: if isOwner(userId);
      // Un usuario puede leer sus datos, o un admin puede leer los de cualquiera
      allow read: if isOwner(userId) || isAdmin();
      
      // Reglas para subcolecciones (watchedMovies, watchlist)
      match /{allPaths=**} {
        allow read: if isOwner(userId) || isAdmin();
        allow write: if isOwner(userId);
      }
    }

    // Regla específica para que el admin pueda listar la colección completa de usuarios
    match /users {
      allow list: if isAdmin();
    }
  }
}
